body{
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(fond.jpg);
    background-attachment: fixed;
}

/* -----------Entete--------- */

#div-frst{
    font-size:x-large;
    color: #b1301f;
    font-weight: bold;
}
.mt-4 h1{
    font-size: 4rem;
}

.navigation{
    background-color: #7B261A;
}
.nav-item a{
    color: white !important;
    font-weight: bold;
    padding-top: 20px !important;
    padding-bottom: 20px !important;

}


/* ------------FIN ENTETE-------- */








/* ----------WORK DRINKING------------- */

.container1{
    margin-top: 100px;
    display: flex !important;
    position: relative !important;
    margin-bottom: -50px;
}
.col1{
    width: 35% !important;
    z-index: 1;
    transform: translate(30%, 10%);
    background-color: #F6E1C5 !important;
}

.btn1{
    z-index: 2;
    transform: translateY(35px);
    background-color: #460a02 !important;
    color: white !important;
    position: static!important;
}

.col2 .img1{
    width: 60%;
    position: absolute;
    z-index: -2;
    transform: translateX(-10%);
}

@media screen  and (min-width:992px) and (max-width:1199px){
    .container1{
        margin-bottom: -130px !important;
    }
    .col1{
        width: 360px !important;
        height: 300px !important;
        transform: translate(25%, 10%);
    }
    
    .btn1{
        z-index: -1;
        transform: translateY(35px);
    }
    .col2 .img1{
        width: 550px;
    }
}

@media screen  and (min-width:768px) and (max-width:991px){
    .container1{
        margin-bottom: -150px;
    }
    .col1{
        width: 300px;
        height: 290px !important;
        transform: translate(20%, 5%);
    }
    
    .btn1{
        transform: translateY(8px);
    }
    .carte1{
        font-size: 0.8rem !important;
        
    }
    .carte1 .para1{
        margin-top: -30px;
    }
    .col2 .img1{
        width: 500px;
        transform: translateX(-20%);
    }

    /* ---------media screen ABOUT PAGE---------- */
    .card-about{
        margin-top: 40px;
    }
}  
    

@media screen  and (min-width:500px) and (max-width:767px){
    .container1{
        margin-bottom: -150px;
    }
    .col1{
        height: 200px !important;
        transform: translate(25%, 10%);
    }
    
    .btn1{
        transform: translateY(2%);
    }
    .carte1{
        font-size: 0.5rem !important;
        
    }
    .carte1 .para1{
        margin-top: -30px;
    }
    .carte1 h3{
        margin-top: -10px;
    }
    .carte1 h6{
        margin-top: -20px;
    }
    .col2 .img1{
        width: 320px;
        transform: translateX(-45px);
        height: 250px;
    }

    .card-about{
        margin-top: 50px;
    }
}

@media screen  and (min-width:375px) and (max-width:499px){
    .container1{
        margin-bottom: -150px;
    }
    .col1{
        height: 150px !important;
    }
    
    .btn1{
        width: 70px !important;
        height: 20px !important;
        font-size: 0.6rem !important;
        transform: translateY(-12px) !important;
        line-height: 8px !important;
    }
    
    .carte1 h6{
        font-size: 0.7rem !important;
        margin-top: -30px !important;
    }
    .carte1 h3{
        font-size: 0.7rem !important;
    }
    .carte1 .para1{
        margin-top: -25px !important;
        font-size: 0.4rem;

    }
    .col2 .img1{
        width: 250px;
        transform: translateX(-45px);
        height: 200px;
    }

    .card-about{
        margin-top: 50px;
    }
}

@media screen  and (min-width:383px) and (max-width:402px){
    .btn1{
        width: 70px !important;
        height: 20px !important;
        font-size: 0.6rem !important;
        transform: translateY(-12px) !important;
        line-height: 8px !important;
    }

    .carte1 h6{
        font-size: 0.7rem !important;
        margin-top: -30px !important;
    }
    .carte1 h3{
        font-size: 0.7rem !important;
    }
    .carte1 .para1{
        margin-top: -15px !important;
        font-size: 0.4rem;

    }
}
@media screen  and (min-width:403px) and (max-width:499px){
    .btn1{
        width: 70px !important;
        height: 30px !important;
        font-size: 0.6rem !important;
        transform: translateY(-5px) !important;
        line-height: 8px !important;
    }

    .carte1 h6{
        font-size: 0.7rem !important;
        margin-top: -30px !important;
    }
    .carte1 h3{
        font-size: 0.7rem !important;
    }
    .carte1 .para1{
        margin-top: -12px !important;
        font-size: 0.4rem;

    }
}

@media screen  and (min-width:438px) and (max-width:499px){
    .btn1{
        width: 70px !important;
        height: 20px !important;
        font-size: 0.6rem !important;
        transform: translateY(-12px) !important;
        line-height: 8px !important;
    }

    .carte1 h6{
        font-size: 0.7rem !important;
        margin-top: -30px !important;
    }
    .carte1 h3{
        font-size: 0.7rem !important;
    }
    .carte1 .para1{
        margin-top: -27px !important;
        font-size: 0.5rem;

    }
}
@media screen  and (min-width:320px) and (max-width:375px){
    .btn1{
        width: 70px !important;
        height: 20px !important;
        font-size: 0.6rem !important;
        transform: translateY(-10px) !important;
        line-height: 8px !important;
    }

    .carte1 h6{
        font-size: 0.6rem !important;
        margin-top: -30px !important;
    }
    .carte1 h3{
        font-size: 0.6rem !important;
    }
    .carte1 .para1{
        margin-top: -25px !important;
        font-size: 0.3rem;

    }

    .container1{
        margin-bottom: -180px;
    }
    .col1{
        height: 120px !important;
        transform: translate(15%, 10%);
    }
    .col2 .img1{
        width: 200px;
        transform: translateX(-30px);
        height: 150px;
    }

    .card-about{
        margin-top: 70px;
    }
}

@media screen  and (min-width:363px) and (max-width:375px){
    .btn1{
        width: 70px !important;
        height: 30px !important;
        font-size: 0.6rem !important;
        transform: translateY(8px) !important;
        line-height: 8px !important;
    }

    
}







/* ----------FIN WD----------- */

/* ----------PROMISE---------- */

#contenu{
    width: 720px !important;
    background-color: #551d167c !important;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #F6E1C5;
    border-radius: 5px;
}

.card2{
    background-color: #F6E1C5 !important;
    width: 700px !important;
    padding-bottom: 60px;
    padding-top: 50px;
}
.card-text2{
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top: 30px;
}

#sup-c2{
    background-color: #551d167c;
    margin-top: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (min-width:375px) and (max-width:1000px){
    #contenu{
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }

    .card2{
        background-color: #F6E1C5 !important;
        width: 100% !important;
        padding-bottom: 60px;
        padding-top: 50px;
    }
    #sup-c2{
        width: 100%;
    }
}

@media screen and (min-width:320px) and (max-width:375px){
    #contenu{
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }

    .card2{
        background-color: #F6E1C5 !important;
        width: 100% !important;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #sup-c2{
        width: 100%;
    }
    .card-text2{
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
    }
}




/* ----------FIN PROMISE----------- */

/* ---------COPYRIGHT------------- */
.footer-home{
    margin-top: 60px;
    font-size: 1.2rem;
    background-color: #460a02;
    color: white;
}
/* ---------FIN COPYRIGHT------------- */


/* -----------PAGE ABOUT------------ */

/* ----------container-about --------*/

.container-about1{
    margin-top: 80px !important;
}
.container-about1 img{
    width: 90%;
    z-index: -1 !important;
}

.card-about{
    background-color: #F6E1C5 !important;
    width: 70% !important;
    height: 100% !important;
}

#container-about-card{
    transform: translateY(-100px) !important;
    z-index: 1 !important;
}
.footer-about{
    font-size: 1.2rem;
    background-color: #460a02;
    color: white;
}


/* ----------------------FIN PAGE ABOUT------------ */



/* -------------------PAGE PROUCTS------------ */


/* ---------------Image1---------- */
#container-product-card1{
    margin-top: 150px;
}

.card-product1{
    background-color: #F6E1C5 !important;
    width: 320px !important;
    height: 120px !important;
    transform: translate(-60px, 40px);

}

.container-prdct-img1 img{
    width: 60% !important;
    z-index: -1;
}

.footer-product{
    font-size: 1.2rem;
    background-color: #460a02;
    color: white;
}

.card-product2{
    background-color: #F6E1C5 !important;
    width: 450px !important;
    height: 150px !important;
    position: relative !important;
    bottom: 100px;
    left: 40px;
}



@media screen and (min-width:768px) and (max-width:992px) {
    .card-product1{
        width: 250px !important;
        height: 100px !important;
        transform: translate(-60px, 40px);
        font-size: 0.7rem !important;
    }

    

    .card-product2{
        width: 300px !important;
        height: 120px !important;
        position: relative !important;
        bottom: 40px;
        left: -5% !important;
        font-size: 0.7rem !important;
        margin-left: 50px !important;
    }

    .card-body .cackes{
        font-size: 1.3rem !important;
    }
}

@media screen and (min-width:531px) and (max-width:767px) {
    .card-product1{
        width: 200px !important;
        height: 100px !important;
        transform: translate(-20px, 40px);
        font-size: 0.6rem !important;
    }

    

    .card-product2{
        width: 250px !important;
        height: 120px !important;
        position: relative !important;
        bottom: 40px;
        left: -5% !important;
        font-size: 0.6rem !important;
        margin-left: 50px !important;
    }

    .card-body .cackes{
        font-size: 1.2rem !important;
        margin-left: -10px !important;
    }
}

@media screen and (min-width:400px) and (max-width:530px) {
    .card-product1{
        width: 160px !important;
        height: 70px !important;
        transform: translate(-20px, 40px);
        font-size: 0.6rem !important;
    }

    

    .card-product2{
        width: 200px !important;
        height: 90px !important;
        position: relative !important;
        bottom: 30px;
        left: -5% !important;
        font-size: 0.5rem !important;
        margin-left: 60px !important;
    }

    .card-body .cackes{
        font-size: 0.9rem !important;
        margin-top: -17px;
        margin-left: -7px !important;
    }
}


@media screen and (min-width:370px) and (max-width:399px) {
    .card-product1{
        width: 130px !important;
        height: 70px !important;
        transform: translate(-20px, 20px);
        font-size: 0.5rem !important;
        
    }

    .card-product2{
        width: 150px !important;
        height: 80px !important;
        position: relative !important;
        bottom: 30px;
        left: -5% !important;
        font-size: 0.4rem !important;
        margin-left: 50px !important;
    }

    .card-body .para-prdcts{
        margin-top: -15px !important;
    }
    .card-body .para-prdt1{
        margin-left: -10px;
        margin-top: -10px !important;
    }
    .card-body .cackes{
        font-size: 0.7rem !important;
        margin-top: -10px !important;
        margin-left: -10px !important;
    }
}

@media screen and (min-width:320px) and (max-width:369px) {
    .card-product1{
        width: 120px !important;
        height: 70px !important;
        font-size: 0.5rem !important;
        transform: translate(-20px, 20px);
    }

    

    .card-product2{
        width: 150px !important;
        height: 80px !important;
        position: relative !important;
        bottom: 30px;
        left: -5% !important;
        font-size: 0.4rem !important;
        margin-left: 50px !important;
    }

    .card-body .para-prdcts{
        margin-top: -5px;
    }
    .card-body .para-prdt1{
        margin-left: -8px;
    }
    .card-body .cackes{
        font-size: 0.7rem !important;
        margin-top: -10px !important;
        margin-left: -12px !important;
    }
}

/* --------------IMAGE 2--------------- */
.container-prdct-img2 img{
    width: 60% !important;
}

.card-product3{
    background-color: #F6E1C5 !important;
    width: 320px !important;
    height: 120px !important;
    position: relative;
    top: 70px;
    left: 40px;

}
.card-product4{
    background-color: #F6E1C5 !important;
    width: 450px !important;
    height: 150px !important;
    position: relative !important;
    bottom: 100px;
    right: 70px;
}

@media screen and (min-width:768px) and (max-width:991px){
    .card-product3{
        width: 250px !important;
        height: 100px !important;
        top: 35px;
        left: 15px;
    
    }
    .card-product4{
        width: 320px !important;
        height: 120px !important;
        bottom: 35px;
        right: 20px;

    }

    .card-body .crm-glc{
        font-size: 1.2rem !important;
        margin-top: -15px;

    }

    .card-body .para-prdt2{
        font-size: 0.7rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .card-product3{
        width: 250px !important;
        height: 100px !important;
        top: 35px;
        left: 15px;
    
    }
    .card-product4{
        width: 320px !important;
        height: 120px !important;
        bottom: 35px;
        right: 20px;

    }

    .card-body .crm-glc{
        font-size: 1.2rem !important;
        margin-top: -15px;

    }

    .card-body .para-prdt2{
        font-size: 0.7rem;
    }
}

@media screen and (min-width:375px) and (max-width:575px){
    .card-product3{
        width: 180px !important;
        height: 80px !important;
        top: 35px;
        left: 15px;
    
    }
    .card-product4{
        width: 180px !important;
        height: 100px !important;
        bottom: 35px;
        right: 20px;

    }

    .card-body .para-prdt3{
        font-size: 0.7rem !important;
    }
    .card-body .crm-glc{
        font-size: 1.1rem !important;
        margin-top: -15px;

    }

    .card-body .para-prdt2{
        font-size: 0.5rem;
        margin-top: -10px;
    }
}

@media screen and (min-width:320px) and (max-width:374px){
    .card-product3{
        width: 140px !important;
        height: 50px !important;
        top: 20px;
        left: 10px;
    
    }
    .card-product4{
        width: 150px !important;
        height: 110px !important;
        bottom: 25px;
        right: 15px;

    }

    .card-body .para-prdt3{
        font-size: 0.5rem !important;
        margin-top: -8px;
    }
    .card-body .crm-glc{
        font-size: 0.8rem !important;
        margin-top: -19px;

    }

    .card-body .para-prdt2{
        font-size: 0.5rem;
        margin-top: -15px;
    }
}

/* ---------image3------------- */

.container-prdct-img3 img{
    width: 60% !important;
}

.card-product5{
    background-color: #F6E1C5 !important;
    width: 320px !important;
    height: 120px !important;
    position: relative;
    top: 70px;
    right: 70px;

}
.card-product6{
    background-color: #F6E1C5 !important;
    width: 450px !important;
    height: 150px !important;
    position: relative !important;
    bottom: 100px;
    left: 70px;
}

@media screen and (min-width:768px) and (max-width:991px){

    .card-product5{
        width: 240px !important;
        height: 100px !important;
        position: relative;
        top: 30px;
        right: 20px;
    
    }
    .card-product6{
        width: 360px !important;
        height: 120px !important;
        position: relative !important;
        bottom: 40px;
        left: 20px;
    }

    #cb1 .first-para{
        font-size: 0.8rem;
    }
    #cb1 .pink-flw{
        font-size: 1.5rem !important;
    }

    #cb2 .para-im3{
        font-size: 0.8rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .card-product5{
        width: 200px !important;
        height: 80px !important;
        position: relative;
        top: 25px;
        right: 20px;
    
    }
    .card-product6{
        width: 240px !important;
        height: 100px !important;
        position: relative !important;
        bottom: 30px;
        left: 15px;
    }

    #cb1 .first-para{
        font-size: 0.7rem;
    }
    #cb1 .pink-flw{
        font-size: 1.4rem !important;
    }

    #cb2 .para-im3{
        font-size: 0.6rem;
        margin-top: -10px;
    }
}

@media screen and (min-width:375px) and (max-width:575px){
    .card-product5{
        width: 150px !important;
        height: 80px !important;
        position: relative;
        top: 25px;
        right: 25px;
    
    }
    .card-product6{
        width: 160px !important;
        height: 100px !important;
        position: relative !important;
        bottom: 30px;
        left: 20px;
    }

    #cb1 .first-para{
        font-size: 0.6rem;
    }
    #cb1 .pink-flw{
        font-size: 1rem !important;
        margin-top: -10px;
    }

    #cb2 .para-im3{
        font-size: 0.5rem;
        margin-top: -15px;
    }
}
@media screen and (min-width:320px) and (max-width:374px){
    .card-product5{
        width: 150px !important;
        height: 80px !important;
        position: relative;
        top: 25px;
        right: 25px;
    
    }
    .card-product6{
        width: 160px !important;
        height: 100px !important;
        position: relative !important;
        bottom: 30px;
        left: 20px;
    }

    #cb1 .first-para{
        font-size: 0.6rem;
    }
    #cb1 .pink-flw{
        font-size: 1rem !important;
        margin-top: -10px;
    }

    #cb2 .para-im3{
        font-size: 0.5rem;
        margin-top: -15px;
    }
}

/* -----------------Page STORE-------------------- */

#contenu-store{
    width: 720px !important;
    background-color: #551d167c !important;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #F6E1C5;
    border-radius: 5px;
}

.card-store{
    background-color: #F6E1C5 !important;
    width: 700px !important;
    padding-bottom: 60px;
    padding-top: 50px;
}
.card-text-store1{
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top: 30px;
}

#sup-store{
    background-color: #551d167c;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#liste{
    display: flex;
    flex-direction: column;
    font-family: MingLiU_HKSCS-ExtB !important;
}

.day1, .day2, .day3, .day4, .day5, .day6, .day7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
} 

@media screen and (min-width:500px) and (max-width:1000px){
    #contenu-store{
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }

    .card-store{
        background-color: #F6E1C5 !important;
        width: 100% !important;
        padding-bottom: 60px;
        padding-top: 50px;
    }
    #sup-store{
        width: 100%;
    }
    .day1, .day2, .day3, .day4, .day5, .day6, .day7{
        margin-right: 50px;
        margin-left: 50px;
    } 
}

@media screen and (min-width:320px) and (max-width:499px){
    #contenu-store{
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }

    .card-store{
        background-color: #F6E1C5 !important;
        width: 100% !important;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #sup-store{
        width: 100%;
    }
    .card-text-store1{
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-top: 20px;
    }

    #liste{
        font-size: 0.7rem !important;
    }
    
    .day1, .day2, .day3, .day4, .day5, .day6, .day7{
        font-size: 0.7rem;
        margin-right: 20px;
        margin-left: 20px;
    } 
}


/* -----------------FIN Page STORE-------------------- */